.advantages-list {
  display: flex;

  &-item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before {
      display: block;
      content: "";
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background: $background-light-theme;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-light-theme-color;
  margin-bottom: 10px;
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $main-light-theme-color;
}

.icon-antenna::before {
  background-image: url("../images/svg/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/svg/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/svg/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/svg/astronaut.svg");
}
