.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid $icon-theme;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }
  }

  &-list-svg {
    fill: $icon-theme;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-list-link:hover &,
    .clients-list-link:focus & {
      fill: $accent-color;
    }
  }
}

.client-1 {
  width: 44.27px;
  height: 49.23px;
}

.client-2 {
  width: 40px;
  height: 52px;
}

.client-3 {
  width: 41px;
  height: 42.6px;
}

.client-4 {
  width: 79.66px;
  height: 42.02px;
}

.client-5 {
  width: 59px;
  height: 47px;
}

.client-6 {
  width: 88.48px;
  height: 45.44px;
}
