.masters {
  background-color: var(--background-light-theme);
  text-align: center;
}

.masters-list {
  display: flex;
}

.masters-list-item:not(:last-child) {
  margin-right: 30px;
}

.masters-list-item {
  width: 270px;
  background-color: var(--title-dark-theme-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.masters-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
  margin-bottom: 10px;
}

.masters-description {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--main-light-theme-color);
}

.masters-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
