.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;

  &-header {
    color: $logo-color;
  }

  &-footer {
    color: $title-dark-theme-color;
    display: block;
    margin-bottom: 20px;
  }

  &-item {
    color: $accent-color;
  }
}
