.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-light-theme-color;

  &-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-dark-theme-color;
    margin-bottom: 30px;
  }

  .activities &,
  .masters &,
  .clients & {
    margin-bottom: 50px;
  }
}
