*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
}

.list {
  list-style: none;
}
.link {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .advantages &,
  .masters &,
  .projects & {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .activities & {
    padding-bottom: 94px;
  }
}
