.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.advantages .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activities .container {
  padding-bottom: 94px;
}

.masters .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
