.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .advantages &,
  .masters &,
  .projects & {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .activities & {
    padding-bottom: 94px;
  }
}
